<footer class="site-footer">

    <div class="footer-container">

        <!-- LOGO -->
        <div class="footer-brand">
            <h2>FAV OUTFIT</h2>
            <p>Find your favorites.</p>
            <p>Discover your style.</p>
        </div>


        <!-- EXPLORE -->
        <div class="footer-column">
            <h3>EXPLORE</h3>

            <a href="">Basic</a>
            <a href="">Tops</a>
            <a href="">Bottoms</a>
        </div>


        <!-- ABOUT -->
        <div class="footer-column">
            <h3>ABOUT</h3>

            <p>
                FAV OUTFIT is a student project created to
                explore fashion and web design.
            </p>
        </div>


        <!-- FOLLOW -->
        <div class="footer-column">
            <h3>FOLLOW</h3>

            <a href="#">Instagram</a>
            <a href="#">Pinterest</a>
        </div>

    </div>


    <!-- ALT ÇİZGİ -->
    <div class="footer-bottom">
        <span>student project</span>
    </div>

</footer>